$primary-color: rgb(255,211,0);

body {
    margin: 0 auto;
}

.app {
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    width: min(90vw, 1500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    border: 5px solid rgb(255,215,0);

    h1 {
        text-align: center;
        color: $primary-color;
        font-size: 3em;
    }

    p {
        color: $primary-color;
        font-size: 2em;
    }

    .input {
        width: 60%;
        border: 2px solid $primary-color;
    }

    .add-button {

        width: 20%;
        border: 2px solid $red;
        margin-top: 5%;
        background-color: $primary-color;
    }

    ul {
        list-style: none;
        padding: 0;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 8%;
        
        h2 {
            color: $primary-color;
        }

        li {
            margin: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary-color;
            font-size: 1.2em;

            .del-button {
                margin: 10%;
                background-color: rgb(255, 110, 110);
                border: 1px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}